* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

main {
    font-family: 'Roboto', sans-serif;
    background: #ccffff;
    /* position: relative; */
    text-align: center;
}

i {
    font-size: 2rem;
}

h1 {
    font-size: 50px;
    padding: 0.5em;
}

h2 {
    padding: 1em;
}


.input-date {
    margin-bottom: .5em;
}

.input-text {
    size: ;
}

.scroller {
    overflow-y: scroll;
    scrollbar-color: blue lightgrey;
    scrollbar-width: thin;
}


.scroller-archive {
    overflow-y: scroll;
    scrollbar-color: blue lightgrey;
    scrollbar-width: thin;
}

.singleTask {
    /* width: 400px; */
    height: 30px;
    border: 1px solid blue;
    /* margin: 2px; */
    /* display: flex; */
    /* flex-direction: column; */
    white-space: nowrap;
}


.flexbox_container {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    /* justify-content: center; */
    align-items: center;
}

.flexbox_container_content {
    border: 1px solid lightgray;
    padding: 5px 10px 5px 10px;
    width: 600px;
    text-align: left;
}

.flexbox_column {
    display: flex;
    flex-direction: row;
    width: 600px;
    /* justify-content: space-between; */
    align-items: center;
}

.buttonStart {
    display: flex;
    border: 1px solid darkolivegreen;
    background-color: skyblue;
    width: 100px;
    text-align: center;
}

.buttonStartPlaceholder {
    display: flex;
    border: 1px solid darkolivegreen;
    color: white;
    background-color: lightgray;
    width: 100px;
    text-align: center;
}

.buttonDone {
    display: flex;
    border: 1px solid green;
    background-color: lightgreen;
    width: 100px;
    text-align: center;
}

.buttonRemove {
    display: flex;
    border: 1px solid red;
    background-color: tomato;
    width: 100px;
    text-align: center;
}

.buttonDelete {
    display: flex;
    border: 1px solid red;
    background-color: palevioletred;
    width: 100px;
    text-align: center;
}

.placeholder {
    color: lightgray;
}

.clickableItem:hover {
    cursor: pointer;
}